@font-face {
    font-family: 'ProductSansRegular';
    src: url(product-sans/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: 'ProductSansBold';
    src: url(product-sans/Product\ Sans\ Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ProductSansRegular';
    letter-spacing: 1px;
    color: #6369D1;
    background-image: url("assets/Path\ 119-5.png");
    background-repeat: no-repeat;
}
.nav-bar{
    margin-top: 3%;
}
    
.home-icon {
    float: right;
    margin-right: 10%;
}

.logo{
    margin-left: 4%;
}

.container-sign-in {
    width: 450px;
    padding: 20px;
    margin: 3% auto;
    background-color: #f5f5f5;
    border-radius: 30px;
    text-align: center;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);  
    min-height: 80%;
}

.text {
    display: flex;
    justify-content: space-around;
}

.text h2 {
    margin: 5px;
}

.line {
    background-color: #6369D1;
    height: 3px;
    width: 100%;
    display: block; 
    margin: 5px 0;
}

input {
    display: block;
    padding: 5px;
    border: none;
    background-color: #f5f5f5;
    border-bottom: 3px solid #6369D1;
    width: 80%;
    margin: 30px;
    margin-left: 10%;
    font-size: 1rem;
    letter-spacing: 1.2px;
}

input:last-of-type {
    margin-bottom: 40px;
}

.sign-in-btn {
    text-decoration: none;
    background-color: #6369D1;
    color: #f5f5f5;
    padding: 12px 18px;
    text-transform: uppercase;
    border-radius: 30px;
    margin-bottom: 15px;
}

.container-sign-in p{
    margin-top: 30px;
}

.container-sign-in p a{
    text-decoration: none;
    cursor: pointer;
    color: #6369D1
}

.container-sign-in p a:hover {
    text-decoration: underline;
}